/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="text"],
button {
  border: 0;
  background: none;
  outline: 0;
}

/* line 61, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
button {
  padding: 0;
  cursor: pointer;
}

/* line 1, ../sass/form.scss */
section {
  max-width: 700px;
  margin: 0 auto;
}

/* line 6, ../sass/form.scss */
.form-copy {
  margin: 60px auto;
}

/* line 10, ../sass/form.scss */
input[type="text"], select {
  font-family: "Oxygen";
  font-size: 14px;
}

/* line 15, ../sass/form.scss */
input[type="text"] {
  border-bottom: 1px solid #fff;
  width: 320px;
  padding: 10px 0;
}

/* line 21, ../sass/form.scss */
select {
  width: 320px;
  background-color: #000033;
  color: #fff;
  padding: 10px 0;
  margin-top: 15px;
}

/* line 30, ../sass/form.scss */
fieldset *:first-child {
  margin-right: 40px;
}

/* line 35, ../sass/form.scss */
button {
  margin: 40px auto;
  width: 200px;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 0;
  text-transform: uppercase;
}
/* line 43, ../sass/form.scss */
button:hover {
  background-color: #fff;
  color: #000033;
  transition: background-color 0.6s;
}

@-webkit-keyframes show-elemet {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes show-elemet {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes show-elemet {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes show-elemet {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-elemet {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 12, ../sass/tarapoto.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 17, ../sass/tarapoto.scss */
body {
  width: 100%;
  height: 100%;
  font-family: "Oxygen";
  background-color: #000033;
  color: #fff;
  text-align: center;
}
/* line 25, ../sass/tarapoto.scss */
body.home {
  background: url("/images/bg.jpg") no-repeat;
  background-size: cover;
}
/* line 29, ../sass/tarapoto.scss */
body.map {
  background: url("/images/staticmap.jpg") no-repeat;
  background-size: cover;
}

/* line 35, ../sass/tarapoto.scss */
h1 {
  font-size: 66px;
  font-weight: 300;
}

/* line 40, ../sass/tarapoto.scss */
h2 {
  font-size: 46px;
  font-weight: 300;
  margin-bottom: 50px;
}

/* line 46, ../sass/tarapoto.scss */
p {
  max-width: 720px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

/* line 54, ../sass/tarapoto.scss */
a {
  text-decoration: none;
}

/* line 58, ../sass/tarapoto.scss */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* line 65, ../sass/tarapoto.scss */
.close {
  display: block;
  float: left;
  font-size: 30px;
  font-weight: 300;
  padding: 10px;
  color: #595959;
  background-color: #fff;
  opacity: 0.8;
  width: 30px;
  height: 30px;
}

/* line 78, ../sass/tarapoto.scss */
.logo {
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 30px;
}

/* line 88, ../sass/tarapoto.scss */
section, h1 {
  -webkit-animation: show-elemet 3.5s ease;
  -moz-animation: show-elemet 3.5s ease;
  -ms-animation: show-elemet 3.5s ease;
  -o-animation: show-elemet 3.5s ease;
  animation: show-elemet 3.5s ease;
}

/* line 92, ../sass/tarapoto.scss */
footer {
  -webkit-animation: show-elemet 2.5s ease;
  -moz-animation: show-elemet 2.5s ease;
  -ms-animation: show-elemet 2.5s ease;
  -o-animation: show-elemet 2.5s ease;
  animation: show-elemet 2.5s ease;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* line 97, ../sass/tarapoto.scss */
footer ul {
  width: 698px;
  margin: 0 auto;
}
/* line 101, ../sass/tarapoto.scss */
footer li {
  display: block;
  float: left;
  margin-right: 235px;
  padding-bottom: 25px;
}
/* line 106, ../sass/tarapoto.scss */
footer li:last-child {
  margin-right: 0;
}
/* line 110, ../sass/tarapoto.scss */
footer a {
  display: block;
  color: #fff;
}
/* line 113, ../sass/tarapoto.scss */
footer a:hover {
  color: #595959;
}
