section {
	max-width: 700px;
	margin: 0 auto;
}

.form-copy {
	margin: 60px auto;
}

input[type="text"], select {
	font-family: $oxygen;
	font-size: 14px;
}

input[type="text"] {
	border-bottom: 1px solid #fff;
	width: 320px;
	padding: 10px 0;
}

select {
	width: 320px;
}

fieldset {
	*:first-child {
		margin-right: 40px;
	}
}

button {
	margin: 40px auto;
	width: 200px;
	border: 1px solid #fff;
	color: $white;
	padding: 15px 0;
	text-transform: uppercase;

	&:hover {
		background-color: $white;
		color: $blue;
		transition: background-color 0.6s;
	}
}