@import 'reset';
@import "compass/css3";
@import 'variables';
@import 'form';
@import 'animate';

@include keyframes(show-elemet){
 	0%{opacity: 0;}
 	100%{ opacity: 1;}
}

html{
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: $oxygen;
	background-color: $blue;
	color: $white;
	text-align: center;

	&.home{
		background: url('/images/bg.jpg') no-repeat;
		background-size: cover;
	}
	&.map{
		background: url('/images/staticmap.jpg') no-repeat;
		background-size: cover;
	}
}

h1{
	font-size: 66px;
	font-weight: 300;
}

h2 {
	font-size: 46px;
	font-weight: 300;
	margin-bottom: 50px;
}

p {
  max-width: 720px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

a {
	text-decoration: none;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.close {
	display:block;
	float: left;
	font-size: 30px;
	font-weight: 300;
	padding: 10px;
	color: $gray;
	background-color: $white;
	opacity: 0.8;
	width: 30px;
    height: 30px;
}

.logo {
	max-width: 400px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 40px;
	font-size: 30px;

}
 
section, h1 {
	@include animation('show-elemet 3.5s ease');
}

footer {
	@include animation('show-elemet 2.5s ease');
	position: fixed;
	bottom: 0;
	width: 100%;
	ul{
		width: 698px;
		margin: 0 auto;
	}
	li{
		display: block;
		float: left;
		margin-right: 235px;
		padding-bottom: 25px;
		&:last-child {
			margin-right: 0;
		}
	}
 	a {
 		display: block;
 		color: $white;
 		&:hover {
 			color: $gray;
 		}
 	}
}