
form {
  margin: 20px auto;
  font-weight: 600;
  @include media-min-width(tablet) {
    margin: 0 auto;
  }
}

input{
  border-radius: 0;
  -webkit-appereance :none;
}

input[type="text"], select {
  font-family: "Quicksand-Light";
  font-size: 18px;
  color: $black;
}

input[type="text"] {
  width: 75%;
  margin: 20px auto;
  padding: 5px 0;
  border-bottom: 1px solid $black;
  @include media-min-width(mobile) {
    width: 250px;
  }
  @include media-min-width(tablet) {
    width: 320px;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $black;
}

select {
  background-color: $black;
  border-color: $white;
  padding: 10px 0;
  margin-top: 15px;
  margin-top: 30px;
  width:  90%;
  font-family: $sanserif;
  @include media-min-width(tablet) {
    width: 250px;
  }
  @include media-min-width(dsktop) {
    width: 320px;
  }
}

fieldset {
  *:first-child {
    @include media-min-width(mobile) {
      margin-right: 20px;
    }
    @include media-min-width(tablet) {
      margin-right: 40px;
    }
  }
}

button {
  margin: 40px auto;
  width: 200px;
  border: 1px solid #fff;
  color: $white;
  background-color: $green;
  padding: 15px 0;
  font-family: $sanserif;
  text-transform: uppercase;
  font-size: 18px;
  transition: box-shadow 0.5s ease-in;
  border-radius: 7px;
  &:hover {
    border: 1px solid $black;
    box-shadow: -2px 2px 2px 2px rgba( $black,0.33);
    transition: box-shadow 0.5s ease-out;
  }
}
