.home {

  color: $white;
  background-color: $green;

  .logo,
  &__title,
  &__video,
  .menu {
    @include animation('fadeIn 0.5s ease-in-out');
  }

  &__title {
    position: absolute;
    padding: 0;
    width: 100%;
    font-family: $handwritingnormal;
    font-size: 55px;
    @include media-min-width(mobile) {
      font-family: $handwritingbold;
      font-size: 103px;
    }
    @include media-min-width(desktop) {
      font-size: 110px;
    }
  }

  .menu {
    opacity: 1;
  }

  &__video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(60%);
    object-fit: cover;
  }

}
