.inquiries {

  .item {
    margin: 60px 30px;
    @include media-min-width(mobile) {
      margin: 60px auto;
    }
    &__copy {
      margin: 30px auto;
      width: 75%;
      @include media-min-width(table) {
        width: 100%;
      }
    }
  }

  .dk-select *:first-child {
    margin-right: 0;
  }

  div.dk-select,
  div.dk-select-multi {
    width: 75%;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $sanserif;
    @include media-min-width(mobile) {
      width: 250px;
      font-size: 19px;
    }
    @include media-min-width(tablet) {
      width: 320px;
    }
  }

  #inquiry {
    position: relative;
    padding-bottom: 40px;
    h3{
      margin-top: 30%;
      padding-left: 20px;
      padding-right: 20px;
      font-family: $handwritingbold;
      font-size: 25px;
      letter-spacing: 3px;
      line-height: 1.5;
      @include media-min-width(mobile) {
        margin-top: 60px;
      }
    }
    .success {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 5px;
      z-index: 10000;
      background-color: $silver;
      border: 1px solid $white;
      box-shadow: -2px 2px 6px 6px rgba($black,0.33);
      a {
        position: absolute;
        padding: 5px 15px;
        right: 20px;
        bottom: 20px;
        font-size: 20px;
        border-radius:  7px;
        color: $white;
        border: 1px solid $white;
        cursor: pointer;
        font-family: $handwritingbold;
        letter-spacing: 3px;
      }
      @include media-min-width(mobile) {
        position: absolute;
      }
      &__image {
        width: 200px;
      }
    }
  }

  .menu {
    @include media-min-width(tablet) {
      opacity: 0;
      background-color: $green;
      transition: opacity 0.5s ease-in-out;
      &.menu__fixed {
        opacity: 1;
        transition: opacity 0.6s ease-in;
      }
    }
  }
}
