.location {
  background: url('/src/images/map.jpg') center center no-repeat;
  background-size: cover;
  background-position: 65%;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  @include media-min-width(mobile) {
    background-position: center;
  }

  .menu {
    @include media-min-width(tablet) {
      opacity: 1;
      background-color: $green;
    }
  }
}
