.monkey {
  width: 320px;
  height: 320px;
  path {
    fill-opacity: 0;
    @include stroke($white);
    @include stroke-width('1');
    @include stroke-dasharray('6957');
    @include stroke-dashoffset('6957');
    @include animation('draw 6s forwards linear');
  }
}
