/* Muli */
@font-face {
  font-family: 'Muli-ExtraLight';
  font-style: normal;
  font-weight: 200;
  src: url('/src/fonts/Muli/Muli-ExtraLight.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Muli Light */
@font-face {
  font-family: 'Muli-Light';
  font-style: normal;
  font-weight: 300;
  src: url('/src/fonts/Muli/Muli-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Quicksand Light */
@font-face {
  font-family: 'Quicksand-Light';
  font-style: normal;
  font-weight: 300;
  src: url('/src/fonts/Quicksand/Quicksand-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Quicksaand Regular */
@font-face {
  font-family: 'Quicksand-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/src/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Acme Regular */
@font-face {
  font-family: 'Acme-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/src/fonts/Acme/Acme-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* AmaticSC-Regular.ttf */
@font-face {
  font-family: 'AmaticSC-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/src/fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* AmaticSC-Regular.ttf */
@font-face {
  font-family: 'AmaticSC-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/src/fonts/Amatic_SC/AmaticSC-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
