.c-hamburger {
    display: none;
    float: right;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 70px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    &:focus {
      outline: none;
    }
    span {
      display: block;
      position: absolute;
      top: 32px;
      left: 12px;
      right: 15px;
      height: 5px;
      background: white;
      &::before, &::after{
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: $white;
        content: "";
      }
      &::before {
        top: -12px;
      }
      &::after{
        bottom: -12px;
      }
    }  
}

.c-hamburger--rot {
    transition: background-color 0.3s 0.3s;
    span {
      transition: transform 0.3s;
    }
}
/* active state, i.e. menu open */
.c-hamburger--rot.is-active {
    background-color: $blue;
    span {
      transform: rotate(90deg);
    }
}
