.history {


	.full-width {
		width: 100%;
		max-width: 100%;
		&__image {
			display: block;
			background: url('/src/images/pool.jpg') center center no-repeat;
			@include prefix(background-size, cover, webkit ms );
			@include calc(min-height,90vw/(1200/694));
		}
		&__copy {
			max-width: 720px;
			margin: 0 auto;
			padding: 60px 30px;
		}
	}

	.gallery {
		max-width: 100%;
		background-color: $silver;
		@include media-min-width(tablet) {
			background-color: $white;
		}
	}

	.row {
		display: block;
		width: 100%;
		clear: both;
		overflow: hidden;
		position: relative;
		@include media-min-width(tablet) {
			&:nth-child(odd){
				.row__image {
					float:left;
				}
				.row__copy {
					float:right;
					right: 0;
				}
			}
			&:nth-child(even){
				.row__image {
					float:right;
				}
				.row__copy {
					float:left;
					left: 0;
				}
			}
		}
		&__image,
		&__copy {
			display: block;
			color: $black;
			@include media-min-width(tablet) {
				margin-top: 80px;
				width: 50%;
				&.is_Visible {
					opacity: 1;
					margin-top: 0;
					@include prefix(transition, all 0.7s ease, webkit ms o);
					.copy-center {
						margin-top: 0;
						@include prefix(transition, all 0.7s ease .2s, webkit ms o);
					}
				}
			}
		}
		&__image {
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
		&__copy {
			padding: 80px 20px;
			@include media-min-width(tablet) {
				position: absolute;
				top: 0;
				bottom: 0;
				@include calc( width, '50% - 30px');
				padding: 0 15px;
			}
		}
	}

	.copy-center {
			text-align: center;
			font-family: $serif;
			h2 {
				margin-bottom: 10px;
				font-size: 30px;
				@include media-min-width(tablet) {
					font-size: 45px;
				}
				@include media-min-width(desktop) {
					font-size: 55px;
				}
			}
			p {
				font-size: 16px;
				letter-spacing: 2px;
				line-height: 1.5;
				@include media-min-width(desktop) {
					font-size: 20px;
				}
			}
			@include media-min-width(tablet) {
				margin-top: 100px;
				position: absolute;
				top: 50%;
				@include calc( width, '100% - 30px');
				@include prefix(transform, translateY(-50%), webkit ms);
			}
		}


	.menu {
		@include media-min-width(tablet) {
			opacity: 0;
			@include prefix(transition, opacity 0.4s ease-in, webkit ms o);
			&.menu__fixed {
		 		opacity: 1;
		 		@include prefix(transition, opacity 0.7s ease-in, webkit ms o);
		 	}
	  }
	}

	@include media-min-width(tablet) {
		padding-bottom: 70px;
	}

}
