.home {
	overflow: hidden;
	.page-title
	 {
		@include animation('fadeIn 10s ease');
	}
	.logo,
	.menu,
	.hamburger {
		@include animation('fadeIn 10.8s ease');
	}

	.page-title {
		position: absolute;
		top: 40%;
		padding: 0;
		width: 100%;
		font-family: $handwritingnormal;
		font-size: 55px;
		@include media-min-width(mobile) {
			font-size: 103px;
			font-family: $handwritingbold;
		}
		@include media-min-width(desktop) {
			font-size: 110px;
		}
	}

	.menu {
		opacity: 1;
	}

}
