.inquiries {
	@include media-min-width(tablet) {
		padding-bottom: 70px;
	}

	.hero-inquiry {
		position: relative;
		width: 100%;
		&:after{
			content: "";
			display: block;
			@include calc( padding-bottom, '591/1127 * 100%');
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			@include prefix(filter, sepia(90%),webkit ms o );
		}
		.page-title {
			z-index: 100;
		}
	}
	#inquiry {
		position: relative;
		h3{
			margin-top: 30%;
			padding-left: 20px;
			padding-right: 20px;
    	font-family: $handwritingnormal;
    	font-size: 25px;
    	letter-spacing: 3px;
    	line-height: 1.5;
    	@include media-min-width(mobile) {
    		margin-top: 60px;
    	}
		}
		.success {
			display: none;
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 10000;
    	background-color: $gray;
    	border: 5px $white Solid;
    	a {
		    position: absolute;
		    padding: 5px 15px;
		    right: 20px;
		    bottom: 20px;
		    font-size: 20px;
		    @include prefix(border-radius, 2px, webkit ms);
		    color: $white;
		    border: 1px solid $white;
		    cursor: pointer;
		    font-family: $handwritingnormal;
		    letter-spacing: 3px;
    	}
    	@include media-min-width(mobile) {
    		position: absolute;
    	}
			&__image {
				width: 200px;
			}
		}
	}
	.menu {
		@include media-min-width(tablet) {
			opacity: 0;
			@include prefix(transition, opacity 0.4s ease-in, webkit ms o);
			&.menu__fixed {
		 		opacity: 1;
		 		@include prefix(transition, opacity 0.4s ease-in, webkit ms o);
		 	}
	  }
	}
}
