.monkey {
  width: 320px;
  opacity: 0;
  path {
    fill-opacity: 0;
    @include stroke('#000');
    @include stroke-width('5');
    @include stroke-dasharray('6957');
    @include stroke-dashoffset('6957');
    @include animation('draw 6s 1 forwards linear');
  }
  @include animation('fadeOut 7s ease');
  @include media-min-width(desktop) {
    width: 500px;
  }
}
