.monkey {
	width: 320px;
	opacity: 0;
  path {
    fill-opacity: 0;
    stroke: #000;
    stroke-width: 5;
    stroke-dasharray: 6957;
    stroke-dashoffset: 6957;
    @include animation('draw 6s 1 forwards linear');
  }
  animation: fadeOut 6.5s ease;
  @include media-min-width(desktop) {
  	width: 500px;
  }
}
