@import 'reset';
@import 'variables';
@import 'form';
@import "mixin";
@import "hamburger";

@include keyframes(show-elemet){
 	0%{opacity: 0;}
 	100%{ opacity: 1;}
}

html{
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: $oxygen;
	background-color: $blue;
	color: $white;
	text-align: center;

	&.home {
		background: url('/src/images/bg.jpg') no-repeat;
		background-size: cover;
	}
	&.map {
		background: url('/src/images/mapimage.jpg') no-repeat;
		background-size: cover;
	}
}

h1{
	font-size: 66px;
	font-weight: 300;
}

h2 {
	font-size: 46px;
	font-weight: 300;
	margin-bottom: 50px;
}

p {
  max-width: 720px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

a {
	text-decoration: none;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.close {
	display:block;
	float: left;
	font-size: 30px;
	font-weight: 300;
	padding: 10px;
	color: $gray;
	background-color: $white;
	opacity: 0.8;
	width: 30px;
    height: 30px;
}

.logo {
	max-width: 400px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 60px;
	font-size: 30px;
}

section, h1 {
	@include animation('show-elemet 3.5s ease');
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	ul {
		@include animation('show-elemet 2.5s ease');
		width: 698px;
		margin: 0 auto;
	}
	li {
		display: block;
		float: left;
		margin-right: 235px;
		padding-bottom: 25px;
		&:last-child {
			margin-right: 0;
		}
	}
 	a {
 		display: block;
 		color: $white;
 		&:hover {
 			color: $gray;
 		}
 	}
}

@include media(tablet) {
	 
	p {
	 	padding-right:30px;
	 	padding-left: 30px;
	}

	fieldset {
		*:first-child {
			margin-right: 20px;
		}
	}

	input[type="text"], select {
		width: 250px;
	}

	.center {
		width: 90%;
	}

	.c-hamburger {
		position: absolute;
    	right: 0;
		display: block;
		@include animation('show-elemet 2.5s ease');
		z-index: 10;
	}
	
	.close {
		display: none;
	}

	footer {
		visibility: hidden;
		background: white;
		position: absolute;
		max-height: 0;
		top: 0;
		opacity: 0;
		overflow: hidden;
		transition: max-height .5s ease-in;

		&.active {
			visibility: visible;
			max-height: 100%;
			opacity: 1;
			transition: max-height .5s ease-in;
			
		}
		ul{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			background-color: white;
		}
		li{
			float: none;
			margin: 0;
			padding-top:25px;
			background-color: $white;
		}
		
		a {
 			color: $black;
 			&:hover {
 				color: $gray;
 				opacity: 0.5;
 			}
 		}
 	}	
}

@include media(mobile) {


	.logo {
		font-size: 20px;
	}

	.center.mobile {
		position: relative;
		top:auto;
		left: auto;
		transform: none;
		h2{
			margin: 45px;
			font-size: 20px;
		}
	}

	p {
		font-size: 16px;
	}

	fieldset {
		input[type="text"], select {
		    width: 90%;
		    margin: 0 auto;
		    padding-bottom: 30px;
		}
		select{
			&:first-child {
    			margin-right: 0;
    		}
			margin-top: 20px;
    		margin-bottom: 20px;
		}
	}

}

