@import 'reset';
@import 'fonts';
@import 'variables';
@import 'form';
@import "mixin";
@import "hamburger";

@include keyframes(show-elemet) {
    0%{opacity: 0;}
    100%{ opacity: 1;}
} 

html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	width: 100%;
	background-color: $green;
	color: $white;
	text-align: center;
	&.home {
		position: fixed;
		background: url('/src/images/darkresort.jpg') center center no-repeat;
		background-size: cover;
		overflow: hidden;
	}
	&.location {
		background: url('/src/images/tarapoto1.jpg') center center no-repeat;
		background-size: cover;
		overflow: hidden;
	}
}

.page-title {
	@include animation('show-elemet 1.5s ease');
	padding: 90px 0 30px;
	font-size: 30px;
	letter-spacing: 3px;
	font-family: "Muli-Light";
	@include media-min-width(mobile) {
		padding: 90px 0 60px;
	}
	@include media-min-width(tablet) {
		font-family: "Muli-ExtraLight";
		font-size: 65px;
	}
}

.item {
	margin: 20px auto;
	@include media-min-width(mobile) {
		margin: 40px auto;
	}
	overflow: hidden;
	&__title {
		@include animation('show-elemet 1.5s ease');
		font-family: "Muli-Light";
		font-size: 35px;
		font-weight: 300;
		margin-bottom: 50px;
		@include media-min-width(tablet) {
			font-size: 45px;
		}
	}
	&__copy {
		@include animation('show-elemet 1.5s ease');
		font-family: "Quicksand-Light";
		font-size: 20px;
		padding: 0 20px 40px;
		@include media-min-width(tablet) {
			max-width: 720px;
			margin: 20px auto;
		}
	    text-align: center;
	    line-height: 1.5;
	    letter-spacing: 2px;
	}
}

.legal {
	overflow: hidden;
	margin-bottom: 40px;
	padding-bottom:60px;
	&__copy {
	  font-family: "Quicksand-Light";
	  font-size: 20px;
	  max-width: 720px;
	  text-align: center;
	  line-height: 1.5;
	  padding: 0 20px;
	  letter-spacing: 2px;
	}
}


.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.logo {
	position: fixed;
	display:block;
	margin: 8px 10px;
	width: 30px;
	z-index: 30;
	@include media-min-width(desktop) {
		width: 50px;
	}
}

.menu {
	@include media-max-width(tablet) {
		visibility: hidden;
		position: fixed;
		top: 0;
		left: 0;
		height: 0;
		bottom:0;
		right: 0;
		overflow: hidden;
		transition: all .5s ease-in;
		background: white;
		&.active {
			visibility: visible;
			height: 100%;
			transition: height .5s ease-in;
		}
	}
	@include media-min-width(tablet) {
		width: 100%;
		margin-top: 20px;
		bottom: 0;
	}
	&__list {
		@include media-max-width(tablet) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			background-color: white;
		}
		@include media-min-width(tablet) {
			width: 780px;
			display: block;
			margin: 0 auto;
		}
	}	
	&__item {
		display: block;
		text-align: center;
		margin: 50px auto;
		@include media-min-width(tablet) {
			float: left;
			width: 33%;
			margin: 30px auto;
			&:last-child {
				margin-right: 0;
			}
		}
		
	}	
	&__link {
 		@include animation('show-elemet 2.5s ease');
 		font-family: "Quicksand";
 		color: $gray;
		font-size: 35px;
 		letter-spacing: 1px;
 		&:hover {
 			color: $black;
 		}
 		@include media-min-width(tablet) {
 			font-size: 22px;
 			color: $white;
 			margin-bottom: 30px;
 			&:hover {
 				color: $white;
	 			border-bottom: 2px solid  $white;
	 			margin-bottom: 26px;
	 			padding-bottom: 2px;
	 		}
 		}
 	}		
}

#currentpage {
	.menu__link{
		color: $green;
		font-style: bold;
		@include media-min-width(tablet) {
			color: $white;
	 		border-bottom: 2px solid  $white;
		}
	}
}

.home, 
.history,
.location {
	.menu{
		@include media-min-width(tablet) {
			position: absolute;
			bottom: 0;
		}
	}
}

.home {
	.page-title {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-family: "Muli-ExtraLight";
		font-size: 55px;
		@include media-min-width(mobile) {
			font-size: 85px;
		}
		width: 100%;
		padding: 0;
	}
}

.location {
	@include media-min-width(tablet) {
		.menu {
			background-color: $green;
		}
	}

}


@include media(tablet) {


	fieldset {
		*:first-child {
			margin-right: 20px;
		}
	}

	input[type="text"], select {
		width: 250px;
	}

	.c-hamburger {
    	right: 0;
		display: block;
		@include animation('show-elemet 2.5s ease');
		z-index: 10;
	}

	

}

@include media(mobile) {



	fieldset {
		input[type="text"] {
		    width: 90%;
		    margin: 20px auto;
		}
		select{
			padding-bottom: 10px;
			&:first-child {
    			margin-right: 0;
    		}
			margin-top: 20px;
    		margin-bottom: 20px;
		}
	}

}

