@import 'reset';
@import 'variables';
@import 'form';
@import "mixin";
@import "hamburger";

@include keyframes(show-elemet){
 	0%{opacity: 0;}
 	100%{ opacity: 1;}
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
	width: 100%;
	font-family: $oxygen;
	background-color: $green;
	color: $white;
	text-align: center;
	
	
	&.home {
		background: url('/src/images/resort.jpg') center center no-repeat;
		background-size: cover;
	}
	&.map {
		background: url('/src/images/map.jpg') center center no-repeat;
		background-size: cover;
	}
}

h1{
	font-size: 66px;
	font-weight: 300;
	letter-spacing: 3px;
}

h2 {
	font-size: 46px;
	font-weight: 300;
	margin-bottom: 50px;
}

p {
  max-width: 720px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

a {
	text-decoration: none;
}

.center {
	margin: 0;
	padding:0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.close {
	position: fixed;
	display:block;
	font-size: 30px;
	font-weight: 300;
	padding: 10px;
	color: $gray;
	background-color: $white;
	opacity: 0.8;
	width: 30px;
    height: 30px;
}

.logo {
	max-width: 400px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 50px;
	font-size: 30px;
}

section {
	margin: 40px auto;
	overflow: hidden;
}

section, h1 {
	@include animation('show-elemet 3.5s ease');
}

.legal {
	overflow: hidden;
	margin-bottom: 40px;
	padding-bottom:60px;
}

footer {
	position: absolute;
	width: 100%;
	margin-top: 20px;
	bottom: 0;

	ul {
		@include animation('show-elemet 2.5s ease');
		width: 698px;
		margin: 0 auto;
		li {
			display: block;
			float: left;
			margin-right: 200px;
			padding-bottom: 25px;
			&:last-child {
				margin-right: 0;
			}
		 	a {
		 		display: block;
		 		letter-spacing: 2px;
		 		color: $white;
		 		&:hover {
		 			color: $gray;
		 		}	
	 		}
	 	}	
 	}
}

@include media(tablet) {

	body {
		height: 100%;
	}

	p {
	 	padding-right:35px;
	 	padding-left: 35px;
	}

	fieldset {
		*:first-child {
			margin-right: 20px;
		}
	}

	input[type="text"], select {
		width: 250px;
	}

	.center {
		width: 90%;
	}

	.c-hamburger {
    	right: 0;
		display: block;
		@include animation('show-elemet 2.5s ease');
		z-index: 10;
	}

	footer {
		visibility: hidden;
		position: fixed;
		background: white;
		margin: 0;
		height: 0;
		top: 0;
		bottom:0;
		right: 0;
		left: 0;
		opacity: 0;
		overflow: hidden;
		transition: all .6s ease-in;

		&.active {
			visibility: visible;
			height: 100%;
			opacity: 1;
			transition: all .6s ease-in;
			
		}
		ul{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			background-color: white;
			li{
				float: none;
				margin: 0;
				padding-top:25px;
				background-color: $white;
				a {
		 			color: $black;
		 			&:hover {
		 				color: $gray;
		 				opacity: 0.5;
		 			}
	 			}
	 		}
		}
 	}	

}

@include media(mobile) {


	.logo {
		font-size: 20px;
	}

	.center.mobile {
		position: relative;
		top:auto;
		left: auto;
		transform: none;
		h2{
			margin-bottom: 25px;
			font-size: 20px;
		}
	}

	p {
		font-size: 16px;
	}

	fieldset {
		input[type="text"] {
		    width: 90%;
		    margin: 20px auto;
		}
		select{
			padding-bottom: 10px;
			&:first-child {
    			margin-right: 0;
    		}
			margin-top: 20px;
    		margin-bottom: 20px;
		}
	}

}

