.hamburger {
  position: fixed;
  display: block;
  top: 12px;
  right: 10px;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
  z-index: 10;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  background-color: $transparentgreen;
  @include prefix(border-radius, 50px, webkit ms);
  @include prefix(transition,  background 0.6s ease-in-out, webkit ms);
  z-index: 150;
  @include media-min-width(mobile) {
    top: 15px;
    width: 60px;
    height: 60px;
    @include prefix(border-radius, 60px, webkit ms);
  }
  @include media-min-width(tablet) {
    display: none;
  }
  &:focus {
    outline: none;
  }
  span {
    display: block;
    position: absolute;
    top: 20px;
    left: 9px;
    right: 9px;
    height: 2px;
    background: $white;
    @include media-min-width(mobile) {
      top: 30px;
    }
    &::before, &::after{
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $white;
      content: "";
    }
    &::before {
      top: -8px;
      @include media-min-width(mobile) {
        top: -12px;
      }
    }
    &::after{
      bottom: -8px;
       @include media-min-width(mobile) {
        bottom: -12px;
      }
    }
  }
}

.hamburger--rot {
  opacity: 1;
  @include prefix(transition, all 0.6s ease-in-out 0.3s, webkit ms);
  span {
    @include prefix(transition, opacity 0.6s ease-in-out, webkit ms);
  }
  @include media-max-width(tablet) {
    &.is-active {
      background: $green;
      background-color: $green;
      opacity:0.8;
      @include prefix(transition, opacity 0.6s ease-in-out 0.3s , webkit ms);
      span {
        @include prefix(transform, rotate(90deg),webkit ms);
      }
    }
  }
}
