html {
  height: 100%;
  overflow: auto;
}

body {
  position: relative;
  min-height: 100%;
  width: 100%;
  background-color: $green;
  color: $white;
  text-align: center;
}

.page-title {
  padding: 90px 0 30px;
  font-family: $handwritingbold;
  font-size: 45px;
  letter-spacing: 3px;
  @include media-min-width(mobile) {
    font-size: 60px;
  }
  @include media-min-width(tablet) {
    font-size: 75px;
  }
  @include media-min-width(desktop) {
    font-size: 85px;
  }
}

.item {
  overflow: hidden;
  margin: 20px auto;
  @include media-min-width(mobile) {
    margin: 40px auto;
  }
  @include media-min-width(tablet) {
    width: 720px;
  }
  &__title {
    font-family: $handwritingnormal;
    font-size: 35px;
    font-weight: 300;
    @include media-min-width(tablet) {
      font-size: 45px;
    }
    @include media-min-width(desktop) {
      font-size: 55px;
    }
  }
  &__copy {
    font-family: $sanserif;
    font-size: 19px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
    margin: 40px 20px;
    @include media-min-width(tablet) {
      font-size: 23px;
    }
  }
}

.legal {
  overflow: hidden;
  margin-bottom: 40px;
  &__copy {
    font-family: $sanserif;
    font-size: 20px;
    max-width: 720px;
    text-align: center;
    line-height: 1.5;
    padding: 0 20px;
    letter-spacing: 2px;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%,-50%),webkit ms);
}

.home,
.location {
  .menu {
    @include media-min-width(tablet) {
      position: absolute;
      bottom: 0;
      background-color: $green;
    }
  }
}

.dk-select *:first-child {
  margin-right: 0;
}

div.dk-select,
div.dk-select-multi {
  width:  90%;
  max-width: 320px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: $sanserif;
  @include media-min-width(mobile) {
    margin-top: 20px;
    width: 250px;
  }
  @include media-min-width(tablet) {
    width: 320px;
  }
}
