/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/reset.scss */
a {
  text-decoration: none;
}

/* line 45, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 50, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 55, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="text"],
button {
  border: 0;
  background: none;
  outline: 0;
}

/* line 66, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
button {
  padding: 0;
  cursor: pointer;
}

/* Rokkitt */
@font-face {
  font-family: 'Rokkitt-ExtraLight';
  font-style: normal;
  font-weight: 100;
  src: url("/src/fonts/Rokkitt/Rokkitt-ExtraLight.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Muli */
@font-face {
  font-family: 'Muli-ExtraLight';
  font-style: normal;
  font-weight: 200;
  src: url("/src/fonts/Muli/Muli-ExtraLight.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Muli Light */
@font-face {
  font-family: 'Muli-Light';
  font-style: normal;
  font-weight: 300;
  src: url("/src/fonts/Muli/Muli-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Quicksand Light */
@font-face {
  font-family: 'Quicksand-Light';
  font-style: normal;
  font-weight: 300;
  src: url("/src/fonts/Quicksand/Quicksand-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Quicksaand Regular */
@font-face {
  font-family: 'Quicksand-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* Acme Regular */
@font-face {
  font-family: 'Acme-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/Acme/Acme-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* AmaticSC-Regular.ttf */
@font-face {
  font-family: 'AmaticSC-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/Amatic_SC/AmaticSC-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* AmaticSC-Regular.ttf */
@font-face {
  font-family: 'AmaticSC-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("/src/fonts/Amatic_SC/AmaticSC-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 3, ../sass/location.scss */
body.location {
  background: url("/src/images/map.jpg") center center no-repeat;
  background-size: cover;
  background-position: 65%;
}
@media (min-width: 601px) {
  /* line 3, ../sass/location.scss */
  body.location {
    background-position: center;
  }
}

/* line 14, ../sass/location.scss */
.location .hamburger span {
  background: black;
}
/* line 16, ../sass/location.scss */
.location .hamburger span::before, .location .hamburger span::after {
  background-color: #000;
}
/* line 22, ../sass/location.scss */
.location .hamburger--rot.is-active {
  background: #000;
  background-color: #fff;
  opacity: 0.9;
  transition: opacity 0.3s 0.3s;
}
/* line 27, ../sass/location.scss */
.location .hamburger--rot.is-active span {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 2, ../sass/inquiries.scss */
.inquiries #inquiry {
  position: relative;
}
/* line 4, ../sass/inquiries.scss */
.inquiries #inquiry h3 {
  margin-top: 30%;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "AmaticSC-Regular";
  font-size: 25px;
  letter-spacing: 3px;
  line-height: 1.5;
}
@media (min-width: 601px) {
  /* line 4, ../sass/inquiries.scss */
  .inquiries #inquiry h3 {
    margin-top: 60px;
  }
}
/* line 16, ../sass/inquiries.scss */
.inquiries #inquiry .success {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  background-color: #595959;
  border: 5px #fff Solid;
}
@media (min-width: 601px) {
  /* line 16, ../sass/inquiries.scss */
  .inquiries #inquiry .success {
    position: absolute;
  }
}
/* line 29, ../sass/inquiries.scss */
.inquiries #inquiry .success__image {
  width: 200px;
}

/* line 1, ../sass/form.scss */
section {
  max-width: 700px;
  margin: 0 auto;
}

/* line 6, ../sass/form.scss */
form {
  margin: 25px auto;
}

/* line 10, ../sass/form.scss */
input {
  border-radius: 0;
  -webkit-appereance: none;
}

/* line 15, ../sass/form.scss */
input[type="text"], select {
  font-family: "Quicksand-Light";
  font-size: 18px;
  color: #fff;
}

/* line 21, ../sass/form.scss */
input[type="text"] {
  width: 90%;
  max-width: 320px;
  padding: 5px 0;
  margin: 20px auto;
  border-bottom: 1px solid #fff;
}
@media (min-width: 601px) {
  /* line 21, ../sass/form.scss */
  input[type="text"] {
    width: 250px;
  }
}
@media (min-width: 769px) {
  /* line 21, ../sass/form.scss */
  input[type="text"] {
    width: 320px;
  }
}

/* line 35, ../sass/form.scss */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}

/* line 38, ../sass/form.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #909;
  opacity: 1;
}

/* line 42, ../sass/form.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}

/* line 46, ../sass/form.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

/* line 50, ../sass/form.scss */
select {
  background-color: #74AFAD;
  border-color: #fff;
  padding: 10px 0;
  margin-top: 15px;
  margin-top: 30px;
  width: 90%;
  font-family: "Quicksand-Light";
}
@media (min-width: 601px) {
  /* line 50, ../sass/form.scss */
  select {
    width: 250px;
  }
}
@media (min-width: 769px) {
  /* line 50, ../sass/form.scss */
  select {
    width: 320px;
  }
}

@media (min-width: 601px) {
  /* line 67, ../sass/form.scss */
  fieldset *:first-child {
    margin-right: 20px;
  }
}
@media (min-width: 769px) {
  /* line 67, ../sass/form.scss */
  fieldset *:first-child {
    margin-right: 40px;
  }
}

/* line 77, ../sass/form.scss */
button {
  margin: 40px auto;
  width: 200px;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 0;
  font-family: "Quicksand-Light";
  text-transform: uppercase;
  font-size: 18px;
}
/* line 86, ../sass/form.scss */
button:hover {
  background-color: #fff;
  color: #74AFAD;
  transition: background-color 0.6s;
}

/* line 1, ../sass/hamburger.scss */
.hamburger {
  position: fixed;
  display: block;
  right: 0;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  z-index: 10;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.6s;
  -webkit-animation: show-elemet 2.5s ease;
  -moz-animation: show-elemet 2.5s ease;
  -ms-animation: show-elemet 2.5s ease;
  -o-animation: show-elemet 2.5s ease;
  animation: show-elemet 2.5s ease;
}
@media (min-width: 769px) {
  /* line 1, ../sass/hamburger.scss */
  .hamburger {
    display: none;
  }
}
/* line 23, ../sass/hamburger.scss */
.hamburger:focus {
  outline: none;
}
/* line 26, ../sass/hamburger.scss */
.hamburger span {
  display: block;
  position: absolute;
  top: 24px;
  left: 10px;
  right: 10px;
  height: 2px;
  background: #fff;
}
/* line 34, ../sass/hamburger.scss */
.hamburger span::before, .hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}
/* line 43, ../sass/hamburger.scss */
.hamburger span::before {
  top: -10px;
}
/* line 46, ../sass/hamburger.scss */
.hamburger span::after {
  bottom: -10px;
}

/* line 52, ../sass/hamburger.scss */
.hamburger--rot {
  background-color: none;
  opacity: 1;
  transition: all 0.6s 0.3s;
}
/* line 56, ../sass/hamburger.scss */
.hamburger--rot span {
  transition: transform 0.6s;
}

/* active state, i.e. menu open */
/* line 61, ../sass/hamburger.scss */
.hamburger--rot.is-active {
  background: #000;
  background-color: #000;
  opacity: 0.9;
  transition: opacity 0.3s 0.3s;
}
/* line 66, ../sass/hamburger.scss */
.hamburger--rot.is-active span {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 1, ../sass/monkey.scss */
.monkey {
  width: 320px;
  opacity: 0;
  -webkit-animation: fadeOut 7s ease;
  -moz-animation: fadeOut 7s ease;
  -ms-animation: fadeOut 7s ease;
  -o-animation: fadeOut 7s ease;
  animation: fadeOut 7s ease;
}
/* line 4, ../sass/monkey.scss */
.monkey path {
  fill-opacity: 0;
  -webkit-stroke: #000;
  -moz-stroke: #000;
  -ms-stroke: #000;
  -o-stroke: #000;
  stroke: #000;
  -webkit-stroke-width: 5;
  -moz-stroke-width: 5;
  -ms-stroke-width: 5;
  -o-stroke-width: 5;
  stroke-width: 5;
  -webkit-stroke-dasharray: 6957;
  -moz-stroke-dasharray: 6957;
  -ms-stroke-dasharray: 6957;
  -o-stroke-dasharray: 6957;
  stroke-dasharray: 6957;
  -webkit-stroke-dashoffset: 6957;
  -moz-stroke-dashoffset: 6957;
  -ms-stroke-dashoffset: 6957;
  -o-stroke-dashoffset: 6957;
  stroke-dashoffset: 6957;
  -webkit-animation: draw 6s 1 forwards linear;
  -moz-animation: draw 6s 1 forwards linear;
  -ms-animation: draw 6s 1 forwards linear;
  -o-animation: draw 6s 1 forwards linear;
  animation: draw 6s 1 forwards linear;
}
@media (min-width: 981px) {
  /* line 1, ../sass/monkey.scss */
  .monkey {
    width: 500px;
  }
}

/* line 1, ../sass/home.scss */
.home {
  overflow: hidden;
}
/* line 3, ../sass/home.scss */
.home .page-title {
  -webkit-animation: fadeIn 10s ease;
  -moz-animation: fadeIn 10s ease;
  -ms-animation: fadeIn 10s ease;
  -o-animation: fadeIn 10s ease;
  animation: fadeIn 10s ease;
}
/* line 7, ../sass/home.scss */
.home .logo,
.home .menu,
.home .hamburger {
  -webkit-animation: fadeIn 10.8s ease;
  -moz-animation: fadeIn 10.8s ease;
  -ms-animation: fadeIn 10.8s ease;
  -o-animation: fadeIn 10.8s ease;
  animation: fadeIn 10.8s ease;
}
@media (min-width: 981px) {
  /* line 13, ../sass/home.scss */
  .home .page-title {
    font-size: 110px;
  }
}
/* line 19, ../sass/home.scss */
.home .home-hero {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
  filter: sepia(50%);
}

/* line 3, ../sass/history.scss */
.history .item {
  width: 100%;
  max-width: 100%;
  margin: 80px auto;
}
/* line 7, ../sass/history.scss */
.history .item__image {
  display: block;
  background: url("/src/images/pool.jpg") center center no-repeat;
  min-height: -webkit-calc(46.26667vw);
  min-height: -moz-calc(46.26667vw);
  min-height: calc(46.26667vw);
}
/* line 13, ../sass/history.scss */
.history .item__copy {
  font-family: "Quicksand-Light";
  margin: 60px auto;
}
/* line 19, ../sass/history.scss */
.history .about {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 60px 0 0;
  font-size: 0;
}
/* line 25, ../sass/history.scss */
.history .about .row {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  background-color: #fff;
}
@media (min-width: 601px) {
  /* line 33, ../sass/history.scss */
  .history .about .row:nth-child(odd) .row__image {
    float: left;
  }
  /* line 36, ../sass/history.scss */
  .history .about .row:nth-child(odd) .row__copy {
    float: right;
  }
  /* line 41, ../sass/history.scss */
  .history .about .row:nth-child(even) .row__image {
    float: right;
  }
  /* line 43, ../sass/history.scss */
  .history .about .row:nth-child(even) .row__image__image {
    float: right;
  }
  /* line 47, ../sass/history.scss */
  .history .about .row:nth-child(even) .row__copy {
    float: left;
  }
}
/* line 52, ../sass/history.scss */
.history .about .row__image, .history .about .row__copy {
  display: inline-block;
  width: 100%;
  font-family: "Quicksand-Light";
  color: #000;
}
@media (min-width: 601px) {
  /* line 52, ../sass/history.scss */
  .history .about .row__image, .history .about .row__copy {
    width: 50%;
  }
}
/* line 62, ../sass/history.scss */
.history .about .row__image {
  min-height: -webkit-calc(86.75vw);
  min-height: -moz-calc(86.75vw);
  min-height: calc(86.75vw);
}
@media (min-width: 769px) {
  /* line 62, ../sass/history.scss */
  .history .about .row__image {
    min-height: -webkit-calc(52.05vw);
    min-height: -moz-calc(52.05vw);
    min-height: calc(52.05vw);
  }
}
/* line 68, ../sass/history.scss */
.history .about .row__copy {
  text-align: center;
  min-height: -webkit-calc(52.05vw);
  min-height: -moz-calc(52.05vw);
  min-height: calc(52.05vw);
}
/* line 71, ../sass/history.scss */
.history .about .row__copy h2 {
  font-family: "Rokkitt-ExtraLight";
  font-size: 45px;
  margin-top: 50px;
}
@media (min-width: 601px) {
  /* line 71, ../sass/history.scss */
  .history .about .row__copy h2 {
    font-size: 60px;
  }
}
@media (min-width: 769px) {
  /* line 71, ../sass/history.scss */
  .history .about .row__copy h2 {
    margin-top: 25%;
  }
}
/* line 82, ../sass/history.scss */
.history .about .row__copy p {
  font-size: 16px;
  margin: 40px 30px;
  letter-spacing: 2px;
  line-height: 1.5;
}
/* line 89, ../sass/history.scss */
.history .about .row__image_about {
  background: url("/src/images/about.jpeg") center center no-repeat;
}
/* line 92, ../sass/history.scss */
.history .about .row__image_enchanting {
  background: url("/src/images/enchanting.jpg") center center no-repeat;
}
/* line 95, ../sass/history.scss */
.history .about .row__image_design {
  background: url("/src/images/design.jpg") center center no-repeat;
}
/* line 98, ../sass/history.scss */
.history .about .row__image_amenities {
  background: url("/src/images/amenities.jpg") center center no-repeat;
}

@-webkit-keyframes show-elemet {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes show-elemet {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes show-elemet {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes show-elemet {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-elemet {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 20, ../sass/tarapoto.scss */
html {
  height: 100%;
}

/* line 24, ../sass/tarapoto.scss */
body {
  position: relative;
  min-height: 100%;
  width: 100%;
  background-color: #74AFAD;
  color: #fff;
  text-align: center;
}
/* line 32, ../sass/tarapoto.scss */
body:not(.home) .hamburger {
  -webkit-animation: show-elemet 1.6s ease;
  -moz-animation: show-elemet 1.6s ease;
  -ms-animation: show-elemet 1.6s ease;
  -o-animation: show-elemet 1.6s ease;
  animation: show-elemet 1.6s ease;
}

/* line 38, ../sass/tarapoto.scss */
.page-title {
  padding: 90px 0 30px;
  font-family: "AmaticSC-Bold";
  font-size: 45px;
  letter-spacing: 3px;
}
@media (min-width: 601px) {
  /* line 38, ../sass/tarapoto.scss */
  .page-title {
    font-size: 60px;
    padding: 90px 0 60px;
  }
}
@media (min-width: 769px) {
  /* line 38, ../sass/tarapoto.scss */
  .page-title {
    font-size: 75px;
  }
}

/* line 52, ../sass/tarapoto.scss */
.item {
  margin: 20px auto;
  overflow: hidden;
}
@media (min-width: 601px) {
  /* line 52, ../sass/tarapoto.scss */
  .item {
    margin: 40px auto;
  }
}
/* line 58, ../sass/tarapoto.scss */
.item__title {
  margin-bottom: 50px;
  font-family: "AmaticSC-Regular";
  font-size: 35px;
  font-weight: 300;
}
@media (min-width: 769px) {
  /* line 58, ../sass/tarapoto.scss */
  .item__title {
    font-size: 45px;
  }
}
/* line 67, ../sass/tarapoto.scss */
.item__copy {
  padding: 0 20px 40px;
  font-family: "Quicksand-Light";
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 2px;
}
@media (min-width: 769px) {
  /* line 67, ../sass/tarapoto.scss */
  .item__copy {
    max-width: 720px;
    margin: 10px auto;
  }
}

/* line 81, ../sass/tarapoto.scss */
.legal {
  overflow: hidden;
  margin-bottom: 40px;
  padding-bottom: 60px;
}
/* line 85, ../sass/tarapoto.scss */
.legal__copy {
  font-family: "Quicksand-Light";
  font-size: 20px;
  max-width: 720px;
  text-align: center;
  line-height: 1.5;
  padding: 0 20px;
  letter-spacing: 2px;
}

/* line 96, ../sass/tarapoto.scss */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 103, ../sass/tarapoto.scss */
.logo {
  position: fixed;
  display: block;
  margin: 0 10px;
  width: 40px;
  z-index: 30;
  -webkit-animation: show-elemet 1.6s ease;
  -moz-animation: show-elemet 1.6s ease;
  -ms-animation: show-elemet 1.6s ease;
  -o-animation: show-elemet 1.6s ease;
  animation: show-elemet 1.6s ease;
}
@media (min-width: 601px) {
  /* line 103, ../sass/tarapoto.scss */
  .logo {
    width: 50px;
    left: 0px;
  }
}

@media (max-width: 768px) {
  /* line 118, ../sass/tarapoto.scss */
  .menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    transition: all .5s ease-in;
    background: white;
  }
  /* line 130, ../sass/tarapoto.scss */
  .menu.active {
    visibility: visible;
    height: 100%;
    transition: height .5s ease-in;
  }
}
@media (min-width: 769px) {
  /* line 118, ../sass/tarapoto.scss */
  .menu {
    width: 100%;
    margin-top: 20px;
    bottom: 0;
  }
}
@media (max-width: 768px) {
  /* line 141, ../sass/tarapoto.scss */
  .menu__list {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    background-color: white;
  }
}
@media (min-width: 769px) {
  /* line 141, ../sass/tarapoto.scss */
  .menu__list {
    width: 780px;
    display: block;
    margin: 0 auto;
  }
}
/* line 155, ../sass/tarapoto.scss */
.menu__item {
  display: block;
  text-align: center;
  margin: 50px auto;
}
@media (min-width: 769px) {
  /* line 155, ../sass/tarapoto.scss */
  .menu__item {
    display: inline-block;
    margin: 20px 60px;
  }
}
/* line 164, ../sass/tarapoto.scss */
.menu__link {
  -webkit-animation: show-elemet 1.6s ease;
  -moz-animation: show-elemet 1.6s ease;
  -ms-animation: show-elemet 1.6s ease;
  -o-animation: show-elemet 1.6s ease;
  animation: show-elemet 1.6s ease;
  display: inline-block;
  font-family: "Quicksand-Light";
  color: #595959;
  font-size: 35px;
  letter-spacing: 1px;
  text-decoration: none;
}
@media (min-width: 769px) {
  /* line 164, ../sass/tarapoto.scss */
  .menu__link {
    font-size: 22px;
    color: #fff;
  }
  /* line 175, ../sass/tarapoto.scss */
  .menu__link::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 7px;
    height: 1px;
    background: #fff;
    transition: width .3s;
  }
  /* line 185, ../sass/tarapoto.scss */
  .menu__link:hover::after {
    width: 100%;
    transition: width .3s;
  }
}

/* line 195, ../sass/tarapoto.scss */
#currentpage .menu__link {
  color: #74AFAD;
  font-style: bold;
}
@media (min-width: 769px) {
  /* line 195, ../sass/tarapoto.scss */
  #currentpage .menu__link {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}

@media (min-width: 769px) {
  /* line 207, ../sass/tarapoto.scss */
  .home .menu,
  .location .menu {
    position: absolute;
    bottom: 0;
  }
}

/* line 216, ../sass/tarapoto.scss */
.home .page-title {
  position: absolute;
  top: 40%;
  padding: 0;
  width: 100%;
  font-family: "AmaticSC-Regular";
  font-size: 55px;
}
@media (min-width: 601px) {
  /* line 216, ../sass/tarapoto.scss */
  .home .page-title {
    font-size: 103px;
    font-family: "AmaticSC-Bold";
  }
}

@media (min-width: 769px) {
  /* line 232, ../sass/tarapoto.scss */
  .location .menu {
    background-color: #74AFAD;
  }
}

/* line 238, ../sass/tarapoto.scss */
.dk-select *:first-child {
  margin-right: 0;
}

/* line 242, ../sass/tarapoto.scss */
div.dk-select,
div.dk-select-multi {
  width: 90%;
  max-width: 320px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Quicksand-Light";
}
@media (min-width: 601px) {
  /* line 242, ../sass/tarapoto.scss */
  div.dk-select,
  div.dk-select-multi {
    margin-top: 20px;
    width: 250px;
  }
}
@media (min-width: 769px) {
  /* line 242, ../sass/tarapoto.scss */
  div.dk-select,
  div.dk-select-multi {
    width: 320px;
  }
}
