/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="text"],
button {
  border: 0;
  background: none;
  outline: 0;
}

/* line 61, ../sass/reset.scss */
input[type="button"],
input[type="submit"],
button {
  padding: 0;
  cursor: pointer;
}

/* line 1, ../sass/form.scss */
section {
  max-width: 700px;
  margin: 0 auto;
}

/* line 6, ../sass/form.scss */
form {
  margin: 25px auto;
}

/* line 10, ../sass/form.scss */
input[type="text"], select {
  font-family: "Oxygen";
  font-size: 14px;
  color: #fff;
}

/* line 16, ../sass/form.scss */
input[type="text"] {
  border-bottom: 1px solid #fff;
  width: 320px;
  padding: 10px 0;
  margin: 20px auto;
}

/* line 23, ../sass/form.scss */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}

/* line 26, ../sass/form.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #909;
  opacity: 1;
}

/* line 30, ../sass/form.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}

/* line 34, ../sass/form.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

/* line 38, ../sass/form.scss */
select {
  width: 320px;
  background-color: #74AFAD;
  border-color: #fff;
  padding: 10px 0;
  margin-top: 15px;
}

/* line 47, ../sass/form.scss */
fieldset *:first-child {
  margin-right: 40px;
}

/* line 52, ../sass/form.scss */
button {
  margin: 40px auto;
  width: 200px;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 0;
  text-transform: uppercase;
}
/* line 60, ../sass/form.scss */
button:hover {
  background-color: #fff;
  color: #000033;
  transition: background-color 0.6s;
}

/* line 1, ../sass/hamburger.scss */
.c-hamburger {
  display: none;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
/* line 17, ../sass/hamburger.scss */
.c-hamburger:focus {
  outline: none;
}
/* line 20, ../sass/hamburger.scss */
.c-hamburger span {
  display: block;
  position: absolute;
  top: 24px;
  left: 14px;
  right: 14px;
  height: 2px;
  background: white;
}
/* line 28, ../sass/hamburger.scss */
.c-hamburger span::before, .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}
/* line 37, ../sass/hamburger.scss */
.c-hamburger span::before {
  top: -8px;
}
/* line 40, ../sass/hamburger.scss */
.c-hamburger span::after {
  bottom: -8px;
}

/* line 46, ../sass/hamburger.scss */
.c-hamburger--rot {
  background-color: none;
  opacity: 1;
  transition: opacity 0.3s 0.3s;
}
/* line 50, ../sass/hamburger.scss */
.c-hamburger--rot span {
  transition: transform 0.3s;
}

/* active state, i.e. menu open */
/* line 55, ../sass/hamburger.scss */
.c-hamburger--rot.is-active {
  background-color: #000;
  opacity: 0.9;
  transition: opacity 0.3s 0.3s;
}
/* line 59, ../sass/hamburger.scss */
.c-hamburger--rot.is-active span {
  transform: rotate(90deg);
}

@-webkit-keyframes show-elemet {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes show-elemet {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes show-elemet {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes show-elemet {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-elemet {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 12, ../sass/tarapoto.scss */
html {
  height: 100%;
}

/* line 16, ../sass/tarapoto.scss */
body {
  min-height: 100%;
  position: relative;
  width: 100%;
  font-family: "Oxygen";
  background-color: #74AFAD;
  color: #fff;
  text-align: center;
}
/* line 26, ../sass/tarapoto.scss */
body.home {
  background: url("/src/images/resort.jpg") center center no-repeat;
  background-size: cover;
}
/* line 30, ../sass/tarapoto.scss */
body.map {
  background: url("/src/images/map.jpg") center center no-repeat;
  background-size: cover;
}

/* line 36, ../sass/tarapoto.scss */
h1 {
  font-size: 66px;
  font-weight: 300;
  letter-spacing: 3px;
}

/* line 42, ../sass/tarapoto.scss */
h2 {
  font-size: 46px;
  font-weight: 300;
  margin-bottom: 50px;
}

/* line 48, ../sass/tarapoto.scss */
p {
  max-width: 720px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

/* line 57, ../sass/tarapoto.scss */
a {
  text-decoration: none;
}

/* line 61, ../sass/tarapoto.scss */
.center {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* line 70, ../sass/tarapoto.scss */
.close {
  position: fixed;
  display: block;
  font-size: 30px;
  font-weight: 300;
  padding: 10px;
  color: #595959;
  background-color: #fff;
  opacity: 0.8;
  width: 30px;
  height: 30px;
}

/* line 83, ../sass/tarapoto.scss */
.logo {
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  font-size: 30px;
}

/* line 92, ../sass/tarapoto.scss */
section {
  margin: 40px auto;
  overflow: hidden;
}

/* line 97, ../sass/tarapoto.scss */
section, h1 {
  -webkit-animation: show-elemet 3.5s ease;
  -moz-animation: show-elemet 3.5s ease;
  -ms-animation: show-elemet 3.5s ease;
  -o-animation: show-elemet 3.5s ease;
  animation: show-elemet 3.5s ease;
}

/* line 101, ../sass/tarapoto.scss */
.legal {
  overflow: hidden;
  margin-bottom: 40px;
  padding-bottom: 60px;
}

/* line 107, ../sass/tarapoto.scss */
footer {
  position: absolute;
  width: 100%;
  margin-top: 20px;
  bottom: 0;
}
/* line 113, ../sass/tarapoto.scss */
footer ul {
  -webkit-animation: show-elemet 2.5s ease;
  -moz-animation: show-elemet 2.5s ease;
  -ms-animation: show-elemet 2.5s ease;
  -o-animation: show-elemet 2.5s ease;
  animation: show-elemet 2.5s ease;
  width: 698px;
  margin: 0 auto;
}
/* line 117, ../sass/tarapoto.scss */
footer ul li {
  display: block;
  float: left;
  margin-right: 200px;
  padding-bottom: 25px;
}
/* line 122, ../sass/tarapoto.scss */
footer ul li:last-child {
  margin-right: 0;
}
/* line 125, ../sass/tarapoto.scss */
footer ul li a {
  display: block;
  letter-spacing: 2px;
  color: #fff;
}
/* line 129, ../sass/tarapoto.scss */
footer ul li a:hover {
  color: #595959;
}

@media (max-width: 768px) {
  /* line 139, ../sass/tarapoto.scss */
  body {
    height: 100%;
  }

  /* line 143, ../sass/tarapoto.scss */
  p {
    padding-right: 35px;
    padding-left: 35px;
  }

  /* line 149, ../sass/tarapoto.scss */
  fieldset *:first-child {
    margin-right: 20px;
  }

  /* line 154, ../sass/tarapoto.scss */
  input[type="text"], select {
    width: 250px;
  }

  /* line 158, ../sass/tarapoto.scss */
  .center {
    width: 90%;
  }

  /* line 162, ../sass/tarapoto.scss */
  .c-hamburger {
    right: 0;
    display: block;
    -webkit-animation: show-elemet 2.5s ease;
    -moz-animation: show-elemet 2.5s ease;
    -ms-animation: show-elemet 2.5s ease;
    -o-animation: show-elemet 2.5s ease;
    animation: show-elemet 2.5s ease;
    z-index: 10;
  }

  /* line 169, ../sass/tarapoto.scss */
  footer {
    visibility: hidden;
    position: fixed;
    background: white;
    margin: 0;
    height: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .6s ease-in;
  }
  /* line 183, ../sass/tarapoto.scss */
  footer.active {
    visibility: visible;
    height: 100%;
    opacity: 1;
    transition: all .6s ease-in;
  }
  /* line 190, ../sass/tarapoto.scss */
  footer ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background-color: white;
  }
  /* line 196, ../sass/tarapoto.scss */
  footer ul li {
    float: none;
    margin: 0;
    padding-top: 25px;
    background-color: #fff;
  }
  /* line 201, ../sass/tarapoto.scss */
  footer ul li a {
    color: #000;
  }
  /* line 203, ../sass/tarapoto.scss */
  footer ul li a:hover {
    color: #595959;
    opacity: 0.5;
  }
}
@media (max-width: 600px) {
  /* line 217, ../sass/tarapoto.scss */
  .logo {
    font-size: 20px;
  }

  /* line 221, ../sass/tarapoto.scss */
  .center.mobile {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
  /* line 226, ../sass/tarapoto.scss */
  .center.mobile h2 {
    margin-bottom: 25px;
    font-size: 20px;
  }

  /* line 232, ../sass/tarapoto.scss */
  p {
    font-size: 16px;
  }

  /* line 237, ../sass/tarapoto.scss */
  fieldset input[type="text"] {
    width: 90%;
    margin: 20px auto;
  }
  /* line 241, ../sass/tarapoto.scss */
  fieldset select {
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* line 243, ../sass/tarapoto.scss */
  fieldset select:first-child {
    margin-right: 0;
  }
}
